<link rel="stylesheet" href="~/css/modals/_addProject.css" asp-append-version="true" />
@model AddProjectViewModel

<div id="addProjectModal" class="modal-overlay">
    <div class="bg-modal">
        <div class="member-header">
            <h2>Add Project</h2>
            <img class="close-modal" data-close="true" src="~/images/close-icon.svg" />
        </div>
        <form id="form" novalidate>
            <div class="image-previewer square">
                <img class="image-preview" src="" />
                <input asp-for="@Model.Project.ProjectImage" type="file" accept="image/*" class="hide" />
            </div>

            <div class="form-group">
                <label asp-for="@Model.Project.Name"></label>
                <div class="field-group">
                    <input asp-for="@Model.Project.Name" />
                    <span asp-validation-for="@Model.Project.Name"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Clients"></label>
                <div class="field-group">
                    <div class="custom-arrow">
                        <select asp-for="@Model.Clients">
                            <option value="" disabled selected>...</option>
                            @if (Model.Clients != null && @Model.Clients!.Count() > 0)
                            {
                                @foreach (var client in Model.Clients)
                                {
                                    <option value="@client.Id">@client.Name</option>
                                }
                            }
                            else
                            {
                                <option value="" disabled>No clients available</option>
                            }
                        </select>
                        <span asp-validation-for="@Model.Clients"></span>
                    </div>
                </div>
            </div>
            <div class="form-group-flex">
                <div class="form-group">
                    <label asp-for="@Model.Project.StartDate"></label>
                    <div class="field-group">
                        <input type="date" asp-for="@Model.Project.StartDate" />
                        <span asp-validation-for="@Model.Project.StartDate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Project.EndDate"></label>
                    <div class="field-group">
                        <input type="date" asp-for="@Model.Project.EndDate" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.Description"></label>
                <div class="field-group">
                    <textarea asp-for="@Model.Project.Description"></textarea>
                    <span></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.Members"></label>
                <partial name="Partials/Components/_CompactMemberList" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Project.Budget"></label>
                <div class="field-group">
                    <input asp-for="@Model.Project.Budget" />
                    <span></span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Add Contact</button>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScript")
@await Html.PartialAsync("~/Views/Shared/Partials/Modals/_CloseModalScript.cshtml")