<link rel="stylesheet" href="~/css/modals/_editMember.css" asp-append-version="true" />

@model Member

<div id="editMemberModal" class="modal-overlay">
    <div class="bg-modal">
        <div class="member-header">
            <h2>Edit Member</h2>
            <img class="close-modal" data-close="true" src="~/images/close-icon.svg" />
        </div>
        <form id="form-reg" method="post" novalidate asp-action="Update" asp-controller="Members">
            <div class="image-previewer circle ">
                <img class="image-preview" src="" />
                <input asp-for="MemberImage" type="file" accept="image/*" class="hide" />
            </div>
            @* @(!string.IsNullOrEmpty(Model.ProfileImage) ? "selected" : "") *@
            <input asp-for="Id" hidden />
            <div class="form-group-flex">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div class="field-group">
                        <input asp-for="LastName" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <div class="field-group">
                    <input asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <div class="field-group">
                    <input asp-for="Address" />
                    <span asp-validation-for="Address"></span>
                </div>
            </div>
    @*  <div class="form-group">
                <label asp-for=""></label>
                <div class="field-group form-group-flex">
                    <div class="custom-arrow">
                        <select id="day" name="day">
                            <option value="" disabled selected>Day</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="custom-arrow">
                        <select id="month" name="month">
                            <option value="" disabled selected>Month</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                            }
                        </select>
                    </div>
                    <div class="custom-arrow">
                        <select id="year" name="year">
                            <option value="" disabled selected>Year</option>
                            @for (int i = DateTime.Now.Year; i >= 1900; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
            </div> *@
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScript")
@await Html.PartialAsync("~/Views/Shared/Partials/Modals/_CloseModalScript.cshtml")