<link rel="stylesheet" href="~/css/components/_MemberCard.css" asp-append-version="true" />
@model Member

<div class="member-card" data-id="@Model.Id">
    <div class="member-card-role">
        @(Model.Roles.Count > 1 ? Model.Roles[0] : Model.Roles[0])
        <div class="dropdown-roles">
            <ul class="dropdown-roles-ul">
                <li data-role="User">User</li>
                <li data-role="Admin">Admin</li>
            </ul>
        </div>
    </div>
    <div data-card-menu="true" class="member-card-more">
        <img src="~/images/more-icon.svg" />
        <partial name="Partials/Components/PopOutMenu/_MemberOptions" model="Model" />
    </div>
    <div class="member-card-image">

        @if (Model.ProfileImage != null)
        {
            <img src="@Model.ProfileImage" />
        }
        else
        {
            <img src="~/images/profiles/1.svg" alt="Default Profile Image" />
        }
    </div>
    <div class="member-card-info">
        <h4>@Model.Name</h4>
        @if (!string.IsNullOrEmpty(Model.JobTitle))
        {
            <span>
                @Model.JobTitle
            </span>
        }
        <p class="member-card-email">@Model.Email</p>
        <p class="member-card-phone">@Model.PhoneNumber</p>
    </div>
    <button class="member-card-button btn btn-gray">Message</button>
</div>

<script src="~/js/changeRole.js"></script>