@model List<LinkItem>

@foreach (var item in Model)
{
    <li>
        <a class="@string.Join(" ", item.Classes) @item.LinkClass"
           asp-controller="@item.Controller"
           asp-action="@item.Action">
            <img class="@string.Join(" ", item.ImgClasses)" src="@item.ImageUrl" />
            @item.Text
        </a>
    </li>
}
