<link rel="stylesheet" href="~/css/notification/_Notification.css" asp-append-version="true" />
@{
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "anonymous";
    var notifications = await notificationService.GetNotificationsAsync(userId, 10);
    notifications = notifications.OrderByDescending(n => n.CreatedAt);
}

<div data-util-display="true" class="notification-container">
    <div class="not-head">
        <span class="not-header-text">Notification</span>
        <div class="dot dot-red">
            <span class="not-count">@notifications.Count()</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="notification-list">
        @foreach (var notification in notifications)
        {
            <div class="notification-item" data-id="@notification.Id">

                <img class="notification-img" src="@notification.Icon" />
                <div>
                    <p>@notification.Message</p>
                    <span class="time" data-created="@notification.CreatedAt.ToString("s")">@notification.CreatedAt</span>
                </div>
                <img class="remove" src="~/images/close-icon.svg" onclick="dismissNotification('@notification.Id')" />
            </div>
        }
    </div>
</div>