<link rel="stylesheet" href="~/css/components/popOutMenu/_projectOptions.css" asp-append-version="true" />
@model ProjectViewModel
<div data-display="true" class="project-options-container">
    <a data-modal="true" data-target="#editProjectModal" data-id="@Model.Id" class="options-group">
        <img src="~/images/edit-icon.svg" />
        Edit
    </a>
    <div class="relative-container">
        <a data-menu-modal="true" data-target="#memberMenuList" data-id="@Model.Id" class="options-group">
            <img src="~/images/add-user-icon.svg" /> Add Member
        </a>
        <div id="memberMenuList" class="member-list hidden">
            <select multiple class="member-select">
            </select>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="options-group">
            <input class="input-complete-project" type="checkbox" checked="@Model.Status" data-id="@Model.Id" />
            Completed
        </div>
    }
    <a data-delete="true" data-controller="projects" data-id="@Model.Id" class="options-group delete-link">
        <img src="~/images/delete-icon.svg" />
        Delete Project
    </a>
</div>

<script src="~/js/formDataLoaderMenuMember.js" type="module" asp-append-version="true"></script>
<script src="~/js/updateProjectMembers.js" type="module" asp-append-version="true"></script>

